<form [formGroup]="forma">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Título" formControlName="titulo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea rows="3" matInput placeholder="Descripción" formControlName="descripcion"></textarea>
    </mat-form-field>

    <button (click)="guardar()" mat-raised-button color="primary"> Aceptar </button>
    <button (click)="onNoClick()" mat-raised-button color="warn"> Cancelar </button>
</form>